/* MAIN LOGIN PAGE STARTS */
.login {
	background-image: url(../images/login-volunteer.svg);
	background-position-x: 100%;
	background-position-y: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;
}
.login-body,
.signup-body {
	width: 50vw;
	position: relative;
	top: 0;
	left: 0;
}
/* LOGIN TOP */
.login-top img,
.signup-top img,
.identity-top img {
	/* logo positioning on login pg & signup pg */
	position: relative;
	width: 400px;
	left: -10px;
	top: -70px;
}
.login-top p,
.signup-top p {
	/* Heading on signup and login pg */
	color: #06bdf7;
	text-align: center;
	font-size: 40px;
	font-variant: small-caps;
	position: relative;
	top: -125px;
}
/* LOGIN MAIN CONTENT */
.login-top,
.signup-top {
	display: block;
	height: 20rem;
}
.login-main input,
.signup-main input {
	font-size: 20px;
	width: 21rem;
	background-color: rgb(255, 255, 255) !important;
	border: none !important;
	border-radius: 0 !important;
}
.login-main input,
.login-main button,
.signup-main input,
.signup-main button {
	/* Texture effects on signup login inputs/buttons */
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.inp-border {
	/* border bottom for login pg inputs */
	display: flex;
	align-items: flex-end;
	border-bottom: 0.12rem solid black !important;
	width: fit-content;
}
.login-main div a {
	/* Forgot password? */
	font-size: 18px;
	margin-right: 9rem;
}
.login-main span {
	font-size: 17px;
	margin: 1.5rem 0 0 12.55rem; /* Don't have an account? Signup! */
}
.login-main button,
.signup-main button {
	/* main login & signup button */
	font-size: 20px;
	font-weight: 500;
	height: 55px;
	width: 17rem;
	margin: 3rem 0 0 16rem;
	color: rgb(255, 255, 255) !important;
	border-radius: 25px !important;
	background-color: #06bdf7;
}
/* MAIN LOGIN PAGE ENDS */
/* MAIN SIGNUP PAGE STARTS */
.signup {
	background-image: url(../images/signup-volunteer.svg);
	background-position-x: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100vh;
}
.signup-main form span {
	/* Already have an acc? Login! */
	margin-left: 17rem;
	font-size: 17px;
}
.signup-main .terms-agreement {
	margin: 5px 0 0 9rem;
	font-size: 14px;
}
/* MAIN SIGNUP PAGE ENDS */
/* IDENTITY PAGE STARTS */
.identity {
	height: 100vh;
	overflow: hidden;
}
.identity-top p {
	/* heading- choose an indentity */
	color: #06bdf7;
	text-align: center;
	font-size: 40px;
	font-variant: small-caps;
	position: relative;
	top: -165px;
}
.identity-main img {
	/* choices */
	width: 400px;
	height: 430px;
	position: relative;
	top: -6.5rem;
	cursor: pointer;
}
.choice-1 {
	margin-right: 4.5em;
}
.choice-2 {
	margin-left: 4.5rem;
}
/* IDENTITY PAGE ENDS */
